/* Copyright 2018 Magnus Sollien Sjursen <m@didakt.no> */

div.cell {
  margin: 1px;
  padding: 1px;
  background-color: #dddddd;
  border: 1px;
  border-style: solid;
  border-color: #cccccc;
}

div.cell {
  font-size: 6px;
}

div.cell.corner_header {
  font-size: 20px;
  background-color: inherit;
  border-color: white;
  text-align: center;
  position: sticky;
}

div.cell.col_header:not(.row_header),
div.cell.row_header:not(.col_header) {
  font-size: 20px;
  background-color: #add8e6;
  border-color: #a0d0f6;
}

div.cell.col_header {
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 20;
}

div.cell.row_header {
  text-align: right;
  position: sticky;
  left: 0;
  z-index: 10;
}

div.item {
  margin: 1px;
  padding: 0px;
  background-color: #cccccc;
  border: 0px;
  border-style: solid;
  border-color: #bbbbbb;
  display: inline-block;
}

div.item_param {
  padding: 0px;
  border: 1px;
  border-style: solid;
  color: #111111;
  text-align: center;
}

div.temp_ind {
  margin: 0px;
  border: 0px;
  padding: 0px;
  float: left;
}

.hoverinfo {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.hoverinfo .hoverinfotext {
    visibility: hidden;
    width: 240px;
    height: 180px;
    background-color: #111111;
    color: #eeeeee;
    text-align: center;
    border-radius: 4px;
    padding: 5px 0;
    font-size: 16px;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 50;
    bottom: 100%;
    left: 50%;
    margin-left: -120px;
    margin-bottom: 20px;
}

.hoverinfo:hover .hoverinfotext {
    visibility: visible;
}